@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(200, 233, 200);
}

h1 {
  color: rgba(104, 0, 0, 0.726);
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
